#timer{
padding: 20px;
  height: 120px;
width: 40%;
 margin-left: 30%;
  border:  5px solid  white;
  border-radius: 10px;
  margin-bottom: 1%;
}
.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 20px;
  width: 80px;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 4%;
  margin-top: -5%;
}
.days {
  background: transparent;
  margin-left: -10%;
}
.hours {
  background: transparent;
}
.minutes {
  background: transparent;
}
.seconds {
  background:  transparent;
}
@media (max-width: 377px)
{
  #timer{
    margin-top: 30%;
  padding: 10px;
  width: 100%;
    height: 120px;
  margin-left: 1%;
    font-size: 10px;
  }


  .days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 2px;
    width: auto;
    font-size: 15px;
    border-radius: 2px;
  }
  .days {

    background: transparent;
  }
  .hours {
    background: transparent;
  }
  .minutes {
    background: transparent;
  }
  .seconds {
    background: transparent;
  }
  #hlo{
      float: left;
      background: #181818;
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      margin-top: 10%;

  }
  #wish{
    float: right;
    background: #181818;
    font-weight: bolder;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    width:30px;
    margin-top: 10%;
  }
}

@media (max-device-width: 415px) {
  #timer{
    margin-top: 20%;
    padding: 10px;
    width: 100%;

    margin-left: 1%;
    font-size: 25px;
    height: 80px;
  }


  .days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 2px;
    width: auto;
    font-size: 15px;
    border-radius: 2px;
  }
  .days {

    background: transparent;
  }
  .hours {
    background: transparent;
  }
  .minutes {
    background: transparent;
  }
  .seconds {
    background: transparent;
  }
  #hlo{
    float: left;
    background: #181818;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    width: 20px;

  }
  #wish{
    float: right;
    background: #181818;
    font-weight: bolder;
    color: #fff;
    font-size: 15px;
    width:20px;
    margin-top: 10%;
  }
}


/*Time line*/
* {
  box-sizing: border-box;
}
#timeliners{
  background-image: linear-gradient(to bottom, #222, #444);
  color: #f4f4f4;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
}
#journey{
  color:mediumseagreen;
}
h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  border: 1px solid hotpink;
  right: 40px;
  top: 0;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}
.timeline__item {
  padding: 1rem;
  border: 2px solid hotpink;
  border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
  border-image-slice: 1;
  position: relative;
  color: #f4f4f4;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}
.timeline__item:after, .timeline__item:before {
  content: '';
  position: absolute;
}
.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: hotpink hotpink transparent transparent;
  border-width: 10px;
  transform: rotate(45deg);
}
@media screen and (min-width: 700px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent hotpink hotpink;
  }
}
.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 3.5rem;
  background-color: #333;
  line-height: 1;
  border-image: none;
  padding: 0.5rem 1rem 1rem;
}
.timeline__item--year:before {
  display: none;
}
@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}
.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: mediumseagreen;
}
.timeline__blurb {
  line-height: 1.5;
  font-size: 2rem;
  /*margin: 0.5rem 0 0;*/
  width: 35%;
 float: right;
  color: #f4f4f4;
}

@media(max-width: 377px)
{
  * {
    box-sizing: border-box;
  }
  #timeliners{
    background-image: linear-gradient(to bottom, #222, #444);
    color: #f4f4f4;
    padding: 1rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10%;
  }
  h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
  }
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid hotpink;
    right:  10px;
    top: 0;
  }
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 700px) {
    .timeline {
      padding: 2rem;
    }
    .timeline:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
  .timeline__item {
    padding: 1rem;
    border: 2px solid hotpink;
    border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
    width: 90%;
    border-image-slice: 1;
    position: relative;
    color: #f4f4f4;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
  }
  .timeline__item:after, .timeline__item:before {
    content: '';
    position: absolute;
  }
  .timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: hotpink hotpink transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
  @media screen and (min-width: 700px) {
    .timeline__item {
      width: 90%;
      margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
      width:90%;
      border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
      right: auto;
      left: -10px;
      border-color: transparent transparent hotpink hotpink;
    }
  }
  .timeline__item--year {
    text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: #333;
    line-height: 1;
    margin-left: 45%;
    border-image: none;
    padding: 0.5rem 1rem 1rem;
  }
  .timeline__item--year:before {
    display: none;
  }
  @media screen and (min-width: 700px) {
    .timeline__item--year {
      text-align: center;
      margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
      display: none;
    }
  }
  .timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: mediumseagreen;
  }
  .timeline__blurb {
    line-height: 1.5;
    font-size: 2rem;
    /*margin: 0.5rem 0 0;*/
    width: 60%;
    margin-left: 45%;
    margin-top: -70%;

    color: #f4f4f4;
  }
}
@media(max-width: 415px)
{
  * {
    box-sizing: border-box;
  }
  #timeliners{
    background-image: linear-gradient(to bottom, #222, #444);
    color: #f4f4f4;
    padding: 1rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10%;
  }
  h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
  }
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid hotpink;
    right:  10px;
    top: 0;
  }
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 700px) {
    .timeline {
      padding: 2rem;
    }
    .timeline:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
  .timeline__item {
    padding: 1rem;
    border: 2px solid hotpink;
    border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
    width: 90%;
    border-image-slice: 1;
    position: relative;
    color: #f4f4f4;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
  }
  .timeline__item:after, .timeline__item:before {
    content: '';
    position: absolute;
  }
  .timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: hotpink hotpink transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
  @media screen and (min-width: 700px) {
    .timeline__item {
      width: 90%;
      margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
      width:90%;
      border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
      right: auto;
      left: -10px;
      border-color: transparent transparent hotpink hotpink;
    }
  }
  .timeline__item--year {
    text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: #333;
    line-height: 1;
    margin-left: 45%;
    border-image: none;
    padding: 0.5rem 1rem 1rem;
  }
  .timeline__item--year:before {
    display: none;
  }
  @media screen and (min-width: 400px) {
    .timeline__item--year {
      text-align: center;
      margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
      display: none;
    }
  }
  .timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: mediumseagreen;
  }
  .timeline__blurb {
    line-height: 1.5;
    font-size: 2rem;
    /*margin: 0.5rem 0 0;*/
    width: 70%;
    margin-left: 10%;
    margin-top: -40%;

    color: #f4f4f4;
  }
}
/*--TimeLine--*/

/*-----Contact--------*/
#contacts{
  margin-bottom: 2%;
  color: #16A6D9;

}
.contact-logo{
  padding-top: 4%;
  height: 480px;
  width: 100%;
  background-color: #D1DDDB;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 35px;
  text-align: center;
  /*text-shadow: 1px 0.5px grey;*/
  color: #c7254e;
}

.contact-h{
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  text-shadow: 0px 0px;
}


.contact-content {
  margin-top: 5%;
  text-align: center;
  font-size: 20px;
  color: black;
  text-shadow: 0px 0px;
  width: 60%;
  margin-left: 20%;
}
.contact-c1{
  min-height:100px;
  max-height: 400px;
  width: 320px;
  padding: 10px;
  border: 5px solid hotpink;
  margin: 0;
  float: left;
}
.contact-c2{
  min-height:100px;
  max-height: 400px;
  width: 320px;
  padding: 10px;
  border: 5px solid hotpink;
  margin: 0;
  float: right;
}
.con{
  color:#c7254e;
}
@media (max-width:377px){
  .contact-c1{
    margin-left: 2%;
  }
}





/*-----contact ends-------*/










.arc {
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid 0.25em transparent;
    border-top-color: #ff8080;
    margin: -30vmin;
    padding: 30vmin;
    border-radius: 50%;
    transform: rotate(var(--ang)) translatey(65%) scale(1.2);
    mix-blend-mode: screen;
    animation: a 2s ease-out infinite alternate;
    transition: 1s;
    z-index: 10000;
}
@keyframes a {
    0%, 12.5% {
        transform: rotate(var(--ang));
    }
}

.arc::before{
    content: ' ';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    animation: animateBg 1s linear interface;
}


.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 1!important;
    top: 0;
    left: 0;
    transition: 1s;
    overflow: hidden;
}
.preloader::before{
    content: ' ';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 4s;
}
.preloader::after{
    content: ' ';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 4s;
}
.preloader.complete::before{
    left:-50%;
}
.preloader.complete::after{
    right:-50%;
}
.preloader.complete
{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}









.arc:nth-of-type(6n + 1) {
    --hue: 0
}

.arc:nth-of-type(6n + 2) {
    --hue: 60
}

.arc:nth-of-type(6n + 3) {
    --hue: 120
}

.arc:nth-of-type(6n + 4) {
    --hue: 180
}

.arc:nth-of-type(6n + 5) {
    --hue: 240
}

.arc:nth-of-type(6n + 6) {
    --hue: 300
}


.contact-c3{
  min-height:100px;
  max-height: 200px;
  width: 220px;
  padding: 10px;
  border: 5px solid hotpink;
  margin: 0;
  margin-left: 40%;

}
#hlo{
  float: left;
  background: #181818;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  width: 40px;
}
@media(max-width:377px)
{
  #hlo{
    float: left;
    background: #181818;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    width: 30px;
  }
}
@media(max-width:415px)
{
  #hlo{
    float: left;
    background: #181818;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    width: 20px;
  }
}

/*------------Cards------------------*/


.flip {
  position: relative;
  margin-top: 4%;
  margin-left: 10%;
}
.flip > .front, .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 2s;
  transition-property: transform, opacity;

}

.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
.flip {
  display: inline-block;
  margin-right: 2px;
  height: 600px;
  width:400px;
  margin-bottom: -2%;
}
.flip > .front, .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 500px;
  background: #313131;
  border-radius: 10px!important;
}
.flip > .front p, .flip > .back p,h4 {
  font-size: 0.9125rem;
  line-height: 160%;
  font-size: 25px;
  text-align: center;
  color: #fff!important;
}
#img2,#img3,#img4,#img5,#img6,#img7{
width:400px;
  height: 500px;
}
/*.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
*/
.whitekaro{
  color:#c7254e;
}

@media (max-width: 377px)
{
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
  }
  .flip {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0%;
    height: 600px;
    width:345px;
    margin-bottom: -2%;
  }
  .flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 500px;
    background: #313131;
    border-radius: 10px!important;
  }
  .flip > .front p, .flip > .back p ,h4{
    font-size: 0.9125rem;
    line-height: 160%;
    color: #fff!important;
  }
  #img2,#img3,#img4,#img5,#img6,#img7{
    width:345px;
    height: 500px;
  }
  .whitekaro{
    color:#c7254e;
  }

}




@media (max-width: 415px)
{
  .flip > .front {
    transform: rotateY(0deg);
  }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
  }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
  }
  .flip {
    display: inline-block;
    margin-right: 0px;
    margin-left: 4%;
    height: 600px;
    width:360px;
    margin-bottom: -2%;
  }
  .flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 500px;
    background: #313131;
    border-radius: 10px!important;
  }
  .flip > .front p, .flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;

    color: #fff!important;
  }
  #img2,#img3,#img4,#img7,#img5,#img6{
    width:360px;
    height: 500px;
  }
  .whitekaro{
    color:#c7254e;
  }

}




@media(max-width: 322px) {
  .contact-c1{
    min-height:100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;

    border: 3px solid hotpink;
    margin: 0;
    margin-left: -12%;

  }
  .rang{
    width:200px;
  }
  .contact-c2{
    min-height:100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;
    border: 3px solid hotpink;
    margin: 0;
    margin-left: -20%;

  }

  .timeline__blurb {
    line-height: 1.5;
    font-size:0px;
    /*margin: 0.5rem 0 0;*/
    width: 35%;
    float: right;
    color: #f4f4f4;
  }

}

@media(max-width: 415px)
{
  .contact-c1{
    min-height:100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;

    border: 3px solid hotpink;
    margin: 0;
    margin-left:  40%;

  }
  .contact-c2{
    min-height:100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;
    border: 3px solid hotpink;
    margin: 0;
    margin-right: 40%;

  }

  .timeline__blurb {
    line-height: 1.5;
    font-size:0px;
    /*margin: 0.5rem 0 0;*/
    width: 35%;
    float: right;
    color: #f4f4f4;
  }

}

@media(max-width: 362px) {
  .contact-c1 {
    min-height: 100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;

    border: 3px solid hotpink;
    margin: 0;
    margin-left: 22%;

  }

  .contact-c2 {
    min-height: 100px;
    max-height: 400px;
    width: 220px;
    padding: 10px;
    border: 3px solid hotpink;
    margin: 0;
    margin-right: 20%;

  }

  .timeline__blurb {
    line-height: 1.5;
    font-size: 0px;
    /*margin: 0.5rem 0 0;*/
    width: 35%;
    float: right;
    color: #f4f4f4;
  }

  .flip {
    display: inline-block;
    margin-right: 0px;
    margin-left: 4%;
    height: 600px;
    width: 300px;
    margin-bottom: -2%;
  }

  #img2,#img3,#img4,#img5,#img6,#img7 {
    width: 300px;
    height: 500px;
  }

  .whitekaro {
    color: #c7254e;
  }

  @media (max-width: 377px) {
    .contact-c1 {
      min-height: 100px;
      max-height: 400px;
      width: 220px;
      padding: 10px;

      border: 3px solid hotpink;
      margin: 0;

    }

    .contact-c2 {
      min-height: 100px;
      max-height: 400px;
      width: 220px;
      padding: 10px;
      border: 3px solid hotpink;
      margin: 0;

    }
    .contact-c3{
      font-size: 0;
      border: none;
    }

    .timeline__blurb {
      line-height: 1.5;
      font-size: 0px;
      /*margin: 0.5rem 0 0;*/
      width: 35%;
      float: right;
      color: #f4f4f4;
    }

    .flip {
      display: inline-block;
      margin-right: 0px;
      margin-left: 4%;
      height: 600px;
      width: 300px;
      margin-bottom: -2%;
    }

    #img2,#img3,#img4,#img7,#img6,#img5{
      width: 300px;
      height: 500px;
    }

    .whitekaro {
      color: #c7254e;
    }
  }
}


#flip2{
  position: relative;
  margin-left: 32.5%;
}
@media (max-width:322px)
{
  #flip2{
    position: relative;
    margin-left: -4%;
  }
  .contact-c3{
    font-size: 0;
    border: none;
  }
}
@media (max-width:362px)
{
  #flip2{
    position: relative;
    margin-left: 4%;
  }
  .contact-c3{
    font-size: 0px;
    border: none;
    float: right;
    border: 3px solid hotpink;
  }
}
@media (max-width:377px)
{
  #flip2{
    position: relative;
    margin-left: 4%;
  }
  .contact-c3{
    font-size: 0;
    border: none;
  }
}
@media (max-width:362px)
{
  #flip2{
    position: relative;
    margin-left: 4%;
  }
  .contact-c3{
    font-size: 0;
    border: none;
  }
}


@media (max-width:415px)
{
  #flip2{
    position: relative;
    margin-left:4%;
  }
  .contact-c3{
    font-size: 0;
    border: none;
  }
}
